.wrap-testimonial {
  background: linear-gradient(180deg, #665bac 0%, #462bb9 100%);
  padding-top: 100px;
  padding-bottom: 143px;
  padding-left: 27px;
  padding-right: 27px;
}
.testimonial-button {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  background: #6f58ff;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
  width: fit-content;
  padding: 15px 85px;
  margin-bottom: 100px;
}
.card-p {
  text-align: center;
  padding: 40px 24px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  overflow: hidden;
  min-height: 100%;
}
.p-title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.p-job {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.p-content {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  /* word-break: break-all; */  
  padding: 5px;
}
.p-img{
  margin-bottom: 10px;
}
.wrap-p-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-icon{
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}